@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FDFBF7;
  color: #1b4481ff;
  overflow-x: hidden;
}

/* Hide scrollbar for the scrolling strip */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #FDFBF7; /* bgLight */
}

::-webkit-scrollbar-thumb {
  background: #244a81ff; /* primary */
  border-radius: 8px;
  border: 2px solid #FDFBF7; /* adds a nice padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #234d88ff; /* slightly darker primary for hover */
}

/* Firefox Scrollbar Support */
@supports (scrollbar-color: auto) {
  * {
    scrollbar-width: thin;
    scrollbar-color: #244a81ff #FDFBF7;
  }
}

/* Custom Selection Highlight Style */
::selection {
  background-color: #244a81ff; /* primary */
  color: #FDFBF7;
}

::-moz-selection {
  background-color: #244a81ff; /* primary */
  color: #FDFBF7;
}

/* Border-Flow Rotation Animation */
@keyframes border-flow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-border-flow {
  animation: border-flow 4s linear infinite;
}

/* Custom Cursor - Hide default cursor on non-touch devices */
@media (pointer: fine) {
  *,
  *::before,
  *::after {
    cursor: none !important;
  }
}